
@keyframes cardEntrance{
    0%{
        opacity: 0;
        transform: translateY(30px) rotate(-2 deg);
    }
    100%{
        opacity: 1;
        transform: translateY(0) rotate(0);
    }
}
.grid>div{
    animation: cardEntrance 0.5s ease forwards;
    opacity: 0;
    animation-delay: calc(var(--index)* 0.1s);
}

::-webkit-scrollbar{
    width: 8px;
    background: #2a1e14;
}
::-webkit-slider-thumb{
    background: linear-gradient(45deg, #01673f, #02d070);
    border-radius: 4px;
}
.line-clamp-2{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}